.page{
  height: 100vh;
  position: relative;
}
.navbar{
  z-index: 10;
  /* position: absolute; */
  top:0;
  /* background-color: rgba(0,0,0,0.3); */
  color: white !important;
}
.nav-item{
  color: white;
}
.container-fluid{
  z-index: 1;
  position: absolute;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

#home{
  background-image: url("images/coffee_machine.jpg");
  background-size: cover;
}
#home .home-panel{
  position: relative;
  top: 50%;
  font-size: 5em;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  border: white solid 5px;
  width: 600px;
  padding: 20px 60px;
}

#bean{
  background-image: url("images/coffee_beans_bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.four_beans{
  width: 400px;
  top: 20vh;
  left: 10vw;
  position: relative;
}
#cake{
  background-image: url("images/flour_table.jpg");
  background-size: cover;
}
.row.four{
  position: relative;
  top: 20vh;
}
#farm{
  background-image: url("images/coffee-farm.jpg");
  background-size: cover;
  background-attachment: fixed;
}
